<!DOCTYPE html>
<html>
  <head>
    <title>GeekQiita</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "新規投稿", new_post_path %>
    <%= link_to "一覧", posts_path %>
    <%= yield %>
  </body>
</html>
