<!DOCTYPE html>
<html>
  <head>
    <title>Geeta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to posts_path do %>
          Geeta
        <% end %>
      </h1>
      <div class="header-list">
        <ul>
          <li><%= link_to "投稿する", new_post_path %><i class="fas fa-keyboard"></i></li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
